In [1009]:
import pandas as pd
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1010]:
series = pd.Series([1,2,3])
print(series)

0    1
1    2
2    3
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [1011]:
print("List:", series.tolist())
print("Type:", type(series.tolist()))

List: [1, 2, 3]
Type: <class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [1012]:
series2 = pd.Series([9,8,7])
print("Add:\n", series + series2, "\n") # it seems like adding series of different sizes will result in some Nan values -- though on this occasion I made all the series the same size
print("Subtract:\n", series - series2, "\n")
print("Multiply:\n", series * series2, "\n")
print("Divide:\n", series / series2, "\n")

Add:
 0    10
1    10
2    10
dtype: int64

Subtract:
 0   -8
1   -6
2   -4
dtype: int64

Multiply:
 0     9
1    16
2    21
dtype: int64

Divide:
 0    0.111111
1    0.250000
2    0.428571
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas

In [1013]:
print("Equals:\n", series == series2, "\n")
print("Greater:\n", series > series2, "\n")
print("Less:\n", series < series2, "\n")

Equals:
 0    False
1    False
2    False
dtype: bool

Greater:
 0    False
1    False
2    False
dtype: bool

Less:
 0    True
1    True
2    True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [1014]:
my_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

print(pd.Series(my_dict))

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [1015]:
np_array = np.array([10, 20, 30, 40, 50])
print(pd.Series(np_array))

0    10
1    20
2    30
3    40
4    50
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [1016]:
series = series.astype(str)
print(series)

0    1
1    2
2    3
dtype: object

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [1017]:
# note all arrays must be of same length
data_frame = pd.DataFrame({
    "Hello": ["World", "Computer"],
    1: [2,3],
    "Binary": [0b0101, 0b1011]
})

series = data_frame.iloc[:,0] # -- get all rows for 0th column
# series = data_frame["Binary"] -- reference by name
print(series)

0       World
1    Computer
Name: Hello, dtype: object

9. Write a Pandas program to convert a given Series to an array.

In [1018]:
array = series.values
print(array)

['World' 'Computer']

1. Write a Pandas program to create a dataframe from a dictionary and display it.

In [1019]:
data_frame = pd.DataFrame({
    'X':[78,85,96,80,86],
    'Y':[84,94,89,83,86],
    'Z':[86,97,96,72,83]
})

print(data_frame)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [1020]:
exam_data = ({
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
})
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

original_data_frame = data_frame = pd.DataFrame(exam_data, index=labels)
print(data_frame)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.

In [1021]:
print(data_frame.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

4. Write a Pandas program to get the first 3 rows of a given DataFrame.

In [1022]:
print(data_frame.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

5. Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [1023]:
print(data_frame[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

6. Write a Pandas program to select the specified columns and rows from a given data frame.

In [1024]:
print(data_frame.iloc[[1, 3, 5, 6]][['name', 'score']])

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

7. Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [1025]:
print(data_frame[data_frame['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

8. Write a Pandas program to count the number of rows and columns of a DataFrame.

In [1026]:
print("Num Rows:", len(data_frame))
print("Num Cols:", len(data_frame.columns))

Num Rows: 10
Num Cols: 4

9. Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [1027]:
filt = data_frame['score'].isnull()
data_frame = data_frame[filt]
print(data_frame)

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [1028]:
data_frame = original_data_frame
filt = data_frame['score'].between(15,21)
print(data_frame[filt])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes