In [74]:
import pandas as pd

1. Write a Pandas program to join the two given dataframes along rows and assign all data.

In [75]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

2. Write a Pandas program to join the two given dataframes along columns and assign all data.

In [76]:
result_data = pd.concat([student_data1, student_data2], axis=1)
print(result_data)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.

In [77]:
temp_data = student_data2.iloc[0,:].to_frame().T # T is for transpose (like in matrices)
result_data = pd.concat([student_data1, temp_data], axis=0, ignore_index=True)
print(result_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S4  Scarlette Fisher   201

4. Write a Pandas program to append a list of dictionaries or series to a existing DataFrame and display the combined data.

In [78]:
temp_dict = student_data2.iloc[0,:].to_dict() # convert data frame to dict to satisfy question
print("Dictionary:", temp_dict, end="\n\n")

temp_data = pd.DataFrame([temp_dict]) # concat cannot use dicts so we convert it back to data frame
result_data = pd.concat([student_data1, temp_data], ignore_index=True)
print(result_data)

Dictionary: {'student_id': 'S4', 'name': 'Scarlette Fisher', 'marks': 201}

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201

5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [79]:
temp_data = pd.concat([student_data1, student_data2])

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

result_data = pd.merge(result_data, exam_data, on = 'student_id')
print(result_data)

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21

6. Write a Pandas program to join the two dataframes using the common column of both dataframes.

In [80]:
result_data = pd.merge(student_data1, student_data2, on = 'student_id')
print(result_data)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

7. Write a Pandas program to join the two dataframes with matching records from both sides where available.

In [81]:
result_data = pd.merge(student_data1, student_data2, on = 'student_id', how = 'outer')
print(result_data)

  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

8. Write a Pandas program to join (left join) the two dataframes using keys from left dataframe only.

In [82]:
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

result_data = pd.merge(data1, data2, how='left', on=['key1', 'key2'])
print(result_data)

  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

9. Write a Pandas program to join two dataframes using keys from right dataframe only.

In [83]:
result_data = pd.merge(data1, data2, how='right', on=['key1', 'key2'])
print(result_data)

  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

10. Write a Pandas program to merge two given datasets using multiple join keys.

In [84]:
result_data = pd.merge(data1, data2, on=['key1', 'key2'])
print(result_data)

  key1 key2   P   Q   R   S
0   K0   K0  P0  Q0  R0  S0
1   K1   K0  P2  Q2  R1  S1
2   K1   K0  P2  Q2  R2  S2

11. Write a Pandas program to create a new DataFrame based on existing series, using specified argument and override the existing columns names.

In [85]:
data1 = pd.Series([1,2,3], name='numbers')
data2 = pd.Series(['a', 'b', 'c'])
result_data = pd.DataFrame({'Num': data1, 'Letter': data2})
print(result_data)

   Num Letter
0    1      a
1    2      b
2    3      c