In [183]:
import pandas as pd

1. Write a Pandas program to join the two given dataframes along rows and assign all data.

In [184]:
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

result_data = pd.concat([student_data1, student_data2])
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

2. Write a Pandas program to join the two given dataframes along columns and assign all data.

In [185]:
result_data = pd.concat([student_data1, student_data2], axis=1)
print(result_data)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

3. Write a Pandas program to append rows to an existing DataFrame and display the combined data.

In [186]:
temp_data = student_data2.iloc[0,:].to_frame().T # T is for transpose (like in matrices)
result_data = pd.concat([student_data1, temp_data], axis=0, ignore_index=True)
print(result_data)

  student_id              name marks
0         S1  Danniella Fenton   200
1         S2      Ryder Storey   210
2         S3      Bryce Jensen   190
3         S4         Ed Bernal   222
4         S5       Kwame Morin   199
5         S4  Scarlette Fisher   201

4. Write a Pandas program to append a list of dictionaries or series to a existing DataFrame and display the combined data.

In [187]:
temp_dict = student_data2.iloc[0,:].to_dict() # convert data frame to dict to satisfy question
print("Dictionary:", temp_dict, end="\n\n")

temp_data = pd.DataFrame([temp_dict]) # concat cannot use dicts so we convert it back to data frame
result_data = pd.concat([student_data1, temp_data], ignore_index=True)
print(result_data)

Dictionary: {'student_id': 'S4', 'name': 'Scarlette Fisher', 'marks': 201}

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201

5. Write a Pandas program to join the two given dataframes along rows and merge with another dataframe along the common column id.

In [188]:
temp_data = pd.concat([student_data1, student_data2])

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

result_data = pd.merge(result_data, exam_data, on = 'student_id')
print(result_data)

  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21

6. Write a Pandas program to join the two dataframes using the common column of both dataframes.

In [189]:
result_data = pd.merge(student_data1, student_data2, on = 'student_id')
print(result_data)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200