In [138]:
import pandas as pd
import numpy as np
csvPath = 'src/titanic.csv'

1. Write a Pandas program to print a concise summary of the dataset (titanic.csv).

In [139]:
df = pd.read_csv(csvPath)
print(df)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  Unnamed: 15
0      man        True  NaN  Southampton    no  False          NaN
1    woman       False    C    Cherbourg   yes  False          NaN
2    woman       False  NaN  Southampton   yes   True          NaN
3    woman       False    C  Southampton   yes  False          NaN
4      man        True  NaN  Southampton    no   True          NaN
..     ...         ...  ...          ...   ...    ...          ...
886    man        True  NaN  Southampton    no   True          NaN
887  woman       False    B  Southampton   yes   True          NaN
888  woman       False  NaN  Southampton    no  False          NaN
889    man        True    C    Cherbourg   yes   True          NaN
890    man        True  NaN   Queenstown    no   True          NaN

[891 rows x 16 columns]

2. Write a Pandas program to extract the column labels, shape and data types of the dataset (titanic.csv).

In [140]:
table = [ ("Column Labels:", df.columns), ("Shapes:", df.shape), ("Data Types", df.dtypes) ]

for key, value in table:
    print(key, value, end="\n\n")

Column Labels: Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'Unnamed: 15'],
      dtype='object')

Shapes: (891, 16)

Data Types survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object

3. Write a Pandas program to create a Pivot table with multiple indexes from the data set of titanic.csv.

In [141]:
table = pd.pivot_table(df, index=['survived', 'age'], values=['fare'], aggfunc='sum')
table

                   fare
survived age
0        1.0    86.5875
         2.0   311.0750
         3.0    21.0750
         4.0    88.3000
         6.0    31.2750
...                 ...
1        58.0  326.5333
         60.0  154.4500
         62.0   90.5000
         63.0   87.5458
         80.0   30.0000

[142 rows x 1 columns]

4. Write a Pandas program to create a Pivot table and find survival rate by gender on various classes.

In [142]:
table = pd.pivot_table(df, index=['sex'], columns=['pclass'], values=['survived'], aggfunc='mean')
table

        survived
pclass         1         2         3
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

5. Write a Pandas program to create a Pivot table and find survival rate by gender.

In [143]:
table = df.groupby('sex')['survived'].mean()
table

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64